<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>(°ℇ °) Slime.INK</title>
  <meta name="Tom Ball" content="Portfolio, Art, Illustration, Design">
  <meta name="Tom Ball" content="Portfolio, Art, Illustration, Design">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/deeps.css') }}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/normalize.css') }}">
  <link rel="stylesheet" type=text/css href="{{ url_for('static', filename='css/skeleton.css') }}">
  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="apple-touch-icon" type="image/png" sizes="180x180" href="{{ url_for('static', filename='favicons/apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicons/favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='favicons/manifest.json') }}">
  <link rel="mask-icon" href="{{ url_for('static', filename='favicons/safari-pinned-tab.svg') }}" color="#5bbad5">
  <meta name="theme-color" content="#ffffff">
    
</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  
  <div class="section-hero" style="">
    <div class="container">
    <div class="row">
    <div class="one-half column">
      <div class="floating">
        <img src="images/cloud1FILL2.svg" style="height:15%; width:100px;">
      </div>
      <img src="images/raindropgif.gif" style="margin:40px 0px; height: 50px; width:100px;">
    </div>
    <div class="one-half column">
      <h3 class="u-pull-right">Artist, Illustrator, Creator.</h3>
    </div>
    </div>
    </div>
  <!-- Gallery
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

    <div class="section categories">
      <div class="container">
        <h3 class="section-heading">Art.</h3>
        <div class="row">
        </div>
        </div>
      </div>
    </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
